In [6]:
# FIRST QUESTION Write a program to subtract two complex numbers in Python.
(9+3j)-(3+5j)

(6-2j)

In [7]:
(5-2j)-(2-9j)

(3+7j)

In [8]:
#  Q:3 Write a program to swap two numbers in Python with the help of a temporary variable.
a = int(input("enter the value for a:"))
b = int(input(" enter the value for b:"))
temp = a
a = b
b = temp

print("after swapping:")
print("value of a:",a)
print("value of b:",b)

enter the value for a:55
 enter the value for b:25
after swapping:
value of a: 25
value of b: 55

In [13]:
# Question 4:
# Write a program to swap two numbers in Python without using a temporary variable.
a = int(input("enter the value for a:"))
b = int(input(" enter the value for b:"))

a = a+b
b = a-b
a = a-b

print("after swapping:")
print("value of a:",a)
print("value of b:",b)

# example 2 for swappping
a = 10
b = 5
a,b = b,a 
print(a)
print(b)

enter the value for a:55
 enter the value for b:25
after swapping:
value of a: 25
value of b: 55
5
10

In [20]:
# Question 5:
# Write a program to convert fahrenheit to kelvin and celsius both.

def Fahrenheit_to_Kelvin(F): 
    return 273.5 + ((F - 32.0) * (5.0/9.0)) 
F = 300
print("Temperature in Kelvin ( K ) = {:.3f}".format(Fahrenheit_to_Kelvin( F )))

Temperature in Kelvin ( K ) = 422.389

In [24]:
def Celsius_to_Kelvin(C): 
    return (C + 273.15) 
C = 300
  
print("Temperature in Kelvin ( K ) = ", Celsius_to_Kelvin(C))

Temperature in Kelvin ( K ) =  573.15

In [30]:
# fahrenheit to celsius

temperature = float(input("Please enter temperature in fahrenheit:"))
celsius = (temperature - 32) * 5 / 9
print("Temperature in celsius: " , celsius)

Please enter temperature in fahrenheit:98
Temperature in celsius:  36.666666666666664

In [29]:
# Convert Celsius To Fahrenheit
celsius = float(input("Enter temperature in celsius: "))
fahrenheit = (celsius * 9/5) + 32
print('%.2f Celsius is: %0.2f Fahrenheit' %(celsius, fahrenheit))

Enter temperature in celsius: 37
37.00 Celsius is: 98.60 Fahrenheit

In [34]:
# Question 6:
# Write a program to demonstrate all the available data types in Python. Hint: Use type() function.

a = 5
type(a)

int

In [33]:
b = 2.25
type(b)

float

In [35]:
 c= ("krishna sagar")
type(c)

str

In [36]:
d = True
type(d)

bool

In [37]:
e = {"name" : "krishna", "age" : 25}
type(e)

dict

In [41]:
f = ["krishna", "rama", "abhi"]
type(f)

list

In [42]:
g = ("krishna", "rama", "abhi")
type(g)

tuple

In [43]:
h = range(6)
type(h)

range

In [44]:
j = 10.5
type(j)

float

In [45]:
k = 10j
type(k)

complex

# Question 7:
# Create a Markdown cell in jupyter and list the steps discussed in the session by Dr. Darshan
# Ingle sir to create Github profile and upload Githubs Assignment link.

__krishna sagar__
___this is krishna sagr___

5**3
___this is krishna sagar___

In [ ]:
# Question 2 :
# Write a program to find the fourth root of a number.